.PriceWrapper{
    width: 30%;
    box-shadow: 0 0 2px 0px #cecece;
}

.PlaceOrder{
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px 0px #c3c2c2;
    margin-top: 20px;   
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
}

