.table {
    width: 100%;
  }


  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .content-margined {
    margin: 1rem;
  }
  button {
    font-size: 0.7rem;
  }
  .button {
    padding: 1rem;
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .button:hover {
    border: 0.1rem #404040 solid;
  }
  .button.primary {
    background-color: #00008B;
    color: white;
  }

 .button.primary:hover{
  background-color: #483D8B;
  color: white;
  cursor: pointer;

 }

  .button.secondary {
    background-color: #006400;
  }
  .button.danger {
    background-color: red;
  }
  .thead{
    background-color: #cecece;; 
    color: black;
  }

  /* forms */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dial {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
input {
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.ProductDetails{
  box-sizing: border-box;
  max-width: 700px;
}

.BreadCrumb > small{
  font-size: 14px;
  color: #666;
}
.ProductTitle{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  margin: 10px 0;
}
.ProductPrice{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  margin: 10px 0; 
}