.ActionButtonWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}


.ActionButtonWrapper > button:hover{
    background: black;
    color: #fff;
}

.ActionButtonWrapper > button{
    width: 40%;
    height: 40px;
    margin: 10px;
    border: 0;
    background: #22402b;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 2px 0 #a9a9a9;
    border-radius: 5px;

}